<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gensig</servlet-name>
        <servlet-class>Gensig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToPDF</servlet-name>
        <servlet-class>ToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHA_Gen</servlet-name>
        <servlet-class>SHA_Gen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sudo</servlet-name>
        <servlet-class>sudo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenDS</servlet-name>
        <servlet-class>GenDS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reference</servlet-name>
        <servlet-class>reference</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Gensig</servlet-name>
        <url-pattern>/Gensig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToPDF</servlet-name>
        <url-pattern>/ToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHA_Gen</servlet-name>
        <url-pattern>/SHA_Gen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sudo</servlet-name>
        <url-pattern>/sudo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenDS</servlet-name>
        <url-pattern>/GenDS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reference</servlet-name>
        <url-pattern>/reference</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
